.login-fatimes {
    margin-left: 150px;
}

.wrapper-login {
    position: relative;
}
.wrapper-login i.fa-check {
    position: absolute;
    top: 15px;
    left: 450px;
}
.wrapper-login i.fa-times {
    position: absolute;
    top: 15px;
    left: 450px;
}
