.wrapper {
    position: relative;
}

i.fa-check {
    position: absolute;
    top: 15px;
    left: 310px;
}
i.fa-times {
    position: absolute;
    top: 15px;
    left: 310px;
}

i.zip {
    position: absolute;
    top: 15px;
    left: 630px;
}
i.zip {
    position: absolute;
    top: 15px;
    left: 630px;
}

.register-fatimes {
    margin-left: 330px;
}
